<div id="datatable-container" class="container center-align">
   <div class="row">
      <button mz-button (click)="onClickReload()">Reload</button>
   </div>
   <div class="row">
      <ngx-datatable
         class="material fixed-header"
         [rows]="model.submissions"
         [columns]="model.headers"
         [limit]="10"
         [loadingIndicator]="loadingIndicator"
         [headerHeight]="50"
         [footerHeight]="50"
         [rowHeight]="'auto'"
         [columnMode]="'force'"
         [scrollbarH]="true"
         [sortType]="'single'"
      ></ngx-datatable>
   </div>
</div>