<div>
   <!-- splash-ish image -->
   <div class="row">
      <div class="col s12 center-align">
         <img class="responsive-img" src="/assets/images/vbs2017.png" />
      </div>
   </div>

   <!-- Event details + FAQ-->
   <div class="section">
      <div class="row">
         <div class="col s12">
            <div class="card-panel">
               <!-- Event: when -->
               <div class="row">
                  <!-- Labels -->
                  <div class="col s12 m4">
                     <p class="flow-text center-align"><span style="font-weight: bold;">When</span></p>
                  </div>
                  <!-- Values -->
                  <div class="col s12 m8">
                     <p class="flow-text center-align">9 am to 12 pm, August 14 to 18</p>
                  </div>
               </div>
               <!-- Event: where -->
               <div class="row">
                  <!-- Labels -->
                  <div class="col s12 m4">
                     <p class="flow-text center-align"><span style="font-weight: bold;">Where</span></p>
                  </div>
                  <!-- Values -->
                  <div class="col s12 m8">
                     <p class="flow-text center-align"><a href="http://mcbc.org">Mississauga City Baptist Church</a></p>
                  </div>
               </div>
               <!-- Event: where (map) -->
               <div class="row">
                  <div class="col s12">
                     <iframe width="100%" height="300" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ_2jmlAxHK4gR2ZWnY8NWyWI&key=AIzaSyCSOGe1okNlO4A7_ehqWOYBTuLHi3TPL5A" allowfullscreen></iframe>
                  </div>
               </div>

               <!-- Link to FAQ -->
               <div class="center-align">
                  <a mz-button href="/faq">Frequently Asked Questions</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- <div class="divider"></div> -->

   <!-- Register -->
   <div class="section">
      <div class="row">
         <div class="col s12">
            <div class="card-panel">
               <h3 class="center-align">Register your children</h3>
               <p class="flow-text">Join us this summer as children entering JK through sixth grade get ready to discover not only that God made them the way they are, but for a purpose too. Maker Fun Factory VBS will be filled with incredible Bible-Learning experiences kids see, hear, touch and even taste! Sciency-Fun Gizmos, team-building games, cool Bible songs and tasty treats are just a few of the standout activities that children will experience this year at VBS.</p>
               <p class="flow-text"><b>Registration closes on August 4th, 2017</b></p>
               <div class="center-align">
                  <a mz-button href="/register">Register</a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- <div class="divider"></div> -->

   <!-- Volunteer -->
   <div class="section">
      <div class="row">
         <div class="col s12">
            <div class="card-panel">
               <h3 class="center-align">Help out</h3>
               <p class="flow-text">Join us this summer for VBS 2017 as we help kids understand that they are made by God, made for a relationship with Jesus, and made to love others! You can make a difference in the life of a child. We've got a spot for you!</p>
               <div class="center-align">
                  <a mz-button href="/volunteer">Volunteer</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>