<div id="form-container">
   <form (ngSubmit)="onSubmit()" #loginForm="ngForm"
      action="/login" method="post" >
      <div class="card-panel">
         <!-- TODO: Put our nice green and black logo here -->
         <div class="logo-container">
         <img src="/assets/images/logo/MCBC_C_SVG_800x200px_recoloured.svg" class="responsive-img"/>
         </div>
         <h4><span class="pink-text text-mcbc">#vbs2017</span> Admin Login</h4>

         <div class="row">
            <!-- username -->
            <mz-input-container class="col s12">
               <input mz-input
                  type="text" 
                  id="username"
                  [label]="'Username'"
                  [placeholder]="' '"
                  required
                  [(ngModel)]="model.username"
                  name="username"
                  />
            </mz-input-container>
            <!-- password -->
            <mz-input-container class="col s12">
               <input mz-input
                  type="password" 
                  id="password"
                  [label]="'Password'"
                  [placeholder]="' '"
                  required
                  [(ngModel)]="model.password"
                  name="password"
                  />
            </mz-input-container>
         </div>
         <div class="row center-align">
            <button mz-button
               type="submit"
               [disabled]="!loginForm.form.valid"
               >Login</button>
         </div>
      </div>
   </form>
</div>