<div id="form-container">
   <div class="center-align">
      <p class="flow-text"><i>Note: all fields in each section of this form are mandatory</i></p>
   </div>
   <form [formGroup]="volunteerForm" novalidate>
      <!-- == Volunteer == -->
      <div class="card-panel">
         <h4 class="center-align">Volunteer</h4>

         <div class="row">
            <!-- first name -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text" 
                  [label]="'First Name'"
                  [placeholder]="' '"
                  formControlName="first_name"
                  />
            </mz-input-container>
            <!-- last name -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text" 
                  [label]="'Last Name'"
                  [placeholder]="' '"
                  formControlName="last_name"
                  />
            </mz-input-container>
         </div>

         <div class="row">
            <!-- shirt size -->
            <mz-select-container class="col s12 m4">
               <select mz-select
                  formControlName="shirt_size"
                  [label]="'Select your Shirt Size'"
                  [placeholder]="' '"
                  >
                  <option value="XS">XS</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                  <option value="XL">XL</option>
               </select>
            </mz-select-container>

            <!-- is 18 or over? -->
            <mz-checkbox-container class="col s12 m4">
               <!-- Materialize requires `id` to be specified for checkboxes to work -->
               <input mz-checkbox
                  type="checkbox"
                  [label]="'Are you 18 or over?'"
                  filledIn="true"
                  formControlName="is_adult"
                  id="is_adult"
                  />
            </mz-checkbox-container>

            <!-- police check completed -->
            <!-- TODO: Show ONLY if age is under 18 -->
            <mz-checkbox-container class="col s12 m4">
               <input mz-checkbox
                  type="checkbox"
                  [label]="'Completed Police Vulnerable Sector Check and submitted to MCBC?'"
                  filledIn="true"
                  formControlName="police_check_completed"
                  id="police_check_completed"
                  />
            </mz-checkbox-container>
         </div>

         <div formGroupName="address">
            <div class="row">
               <!-- address -->
               <mz-input-container class="col s12">
                  <input mz-input
                     type="text"
                     [label]="'Address'"
                     [placeholder]="' '"
                     formControlName="street"
                     />
               </mz-input-container>
            </div>
            <div class="row">
               <!-- city -->
               <mz-input-container class="col s12 m4">
                  <input mz-input
                     type="text"
                     [label]="'City'"
                     [placeholder]="' '"
                     formControlName="city"
                     />
               </mz-input-container>

               <!-- province -->
               <mz-select-container class="col s12 m4">
                  <select mz-select
                     [label]="'Select your Province'"
                     formControlName="province"
                     >
                     <option *ngFor="let province of provinces" [value]="province.name">{{province.name}}</option>
                  </select>
               </mz-select-container>

               <!-- postal code -->
               <mz-input-container class="col s12 m4">
                  <input mz-input
                     type="text"
                     [label]="'Postal Code'"
                     [placeholder]="' '"
                     formControlName="postal_code"
                     /> <!-- TODO: write validator -->
               </mz-input-container>
            </div>
         </div>

         <div class="row">
            <!-- email -->
            <mz-input-container class="col s12 m6">
               <i mz-icon mz-input-prefix
                  [icon]="'email'">
               </i>
               <input mz-input
                  type="email"
                  [label]="'Email'"
                  [placeholder]="' '"
                  [validate]="true"
                  [dataError]="'Invalid email'"
                  formControlName="email"
                  />
            </mz-input-container>

            <!-- phone -->
            <mz-input-container class="col s12 m6">
               <i mz-icon mz-input-prefix
                  [icon]="'phone'">
               </i>
               <input mz-input
                  type="tel"
                  [label]="'Phone Number'"
                  [placeholder]="' '"
                  formControlName="phone"
                  /> <!-- TODO: write validator -->
            </mz-input-container>
         </div>

         <div class="row">
            <!-- Ranked Areas of Interest -->
            <mz-select-container class="col s12">
               <select mz-select
                  formControlName="ranked_aoi"
                  [label]="'What areas would you like to serve in? Select the options in order of your preference'"
                  [placeholder]="' '"
                  multiple
                  >
                  <option *ngFor="let area of aoi" [value]="area">{{area}}</option>
               </select>
            </mz-select-container>
         </div>
      </div>

      <!-- == Emergency Contact == -->
      <div formGroupName="emergency" class="card-panel">
         <h4 class="center-align">Emergency Contact</h4>
         
         <div class="row">
            <!-- first name -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text"
                  [label]="'First Name'"
                  [placeholder]="' '"
                  formControlName="first_name"
                  />
            </mz-input-container>
            <!-- last name -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text"
                  [label]="'Last Name'"
                  [placeholder]="' '"
                  formControlName="last_name"
                  />
            </mz-input-container>         
         </div>

         <div class="row">
            <!-- relationship to child -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text"
                  [label]="'Relationship to volunteer'"
                  [placeholder]="' '"
                  formControlName="relationship"
                  />
            </mz-input-container>
            <!-- phone -->
            <mz-input-container class="col s12 m6">
               <i mz-icon mz-input-prefix
                  [icon]="'phone'">
               </i>
               <input mz-input
                  type="tel"
                  [label]="'Phone Number'"
                  [placeholder]="' '"
                  formControlName="phone"
                  /> <!-- TODO: write validator -->
            </mz-input-container>
         </div>
      </div>
   </form>
</div>
<div id="submit-container" class="center-align">
   <button mz-button
      type="submit"
      (click)="onSubmit()"
      >Submit <i class="material-icons right">send</i></button>
</div>