<mz-navbar>
   <a href="/" class="brand-logo center"><i class="material-icons">home</i></a>
   <a href="#" class="left button-collapse" [id]="'btn-sidenav-demo'"><i class="material-icons">menu</i></a>
   <mz-navbar-item-container [align]="'left'">
      <mz-navbar-item><a class="btn waves-effect waves-light" (click)="onClickChildDataSource()">Children</a></mz-navbar-item>
      <mz-navbar-item><a class="btn waves-effect waves-light" (click)="onClickVolunteerDataSource()">Volunteers</a></mz-navbar-item>
   </mz-navbar-item-container>
   <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item><a class="waves-effect" href="/logout">Logout</a></mz-navbar-item>
   </mz-navbar-item-container>

   <!-- Duplication here is ugly but whatever, roll with it for now -->
   <mz-sidenav [id]="'sidenav-demo'" [backgroundClass]="'grey darken-4'" [collapseButtonId]="'btn-sidenav-demo'">
      <mz-sidenav-link>
         <a href="/" class="btn green mcbc white-text"><i class="material-icons white-text">home</i></a>
      </mz-sidenav-link>
      <mz-sidenav-link>
         <a class="btn waves-effect waves-light" (click)="onClickChildDataSource()">Children</a>
      </mz-sidenav-link>
      <mz-sidenav-link>
         <a class="btn waves-effect waves-light" (click)="onClickVolunteerDataSource()">Volunteers</a>
      </mz-sidenav-link>
      <mz-sidenav-link>
         <a class="btn waves-effect waves-light green mcbc white-text" href="/logout">Logout</a>
      </mz-sidenav-link>
   </mz-sidenav>
</mz-navbar>