<div class="green mcbc">
   <div id="contents-container" class="container">
      <div class="row">
         <!-- Contact us -->
         <div id="contact" class="col s12 m4 center-align">
            <h3>Contact us</h3>
            <span>
               <a class="btn-floating waves-effect waves-light" href="mailto:vbs@mcbc.on.ca"><i class="material-icons">email</i></a>
               <a class="btn-floating waves-effect waves-light" href="tel:+19052752189"><i class="material-icons">phone</i></a>
            </span>
         </div>
         <!-- Logo -->
         <div class="col s12 m8">
            <a href="http://mcbc.org">
               <img class="responsive-img" src="/assets/images/logo/MCBC_W_SVG_800x200px.svg" />
            </a>
         </div>         
      </div>
   </div>
   <div id="copyright-row" class="center-align grey darken-4">
         <span class="flow-text white-text">Copyright © 2017 <a class="green-text text-mcbc" href="http://mcbc.org">Mississauga City Baptist Church</a></span>
      </div>
</div>

<!-- TODO - add made with home-baked love note here? -->
<!-- TODO - add privacy policy -->