<div id="form-container">
   <form #submissionForm="ngForm">
      <!-- == Parent/Guardian == -->
      <div class="card-panel">
         <h4>TODO: {{model.parent_first_name}}</h4>
         <h4 class="center-align">Parent/Guardian</h4>

         <div class="row">
            <!-- first name -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text" 
                  id="parent-firstname"
                  [label]="'First Name'"
                  required
                  [(ngModel)]="model.parent_first_name"
                  name="parent_first_name"
                  />
            </mz-input-container>
            <!-- last name -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text" 
                  id="parent-lastname"
                  [label]="'Last Name'"
                  required
                  [(ngModel)]="model.parent_last_name"
                  name="parent_last_name"
                  />
            </mz-input-container>
         </div>

         <div class="row">
            <!-- address -->
            <mz-input-container class="col s12">
               <input mz-input
                  type="text" 
                  id="parent-address-street"
                  [label]="'Address'"
                  required
                  [(ngModel)]="model.address.street"
                  name="parent_address_street"
                  />
            </mz-input-container>
         </div>
         <div class="row">
            <!-- city -->
            <mz-input-container class="col s12 m4">
               <input mz-input
                  type="text" 
                  id="parent-address-city"
                  [label]="'City'"
                  required
                  [(ngModel)]="model.address.city"
                  name="parent_address_city"
                  />
            </mz-input-container>

            <!-- province -->
            <mz-select-container class="col s12 m4">
               <select mz-select
                  id="parent-address-province"
                  [placeholder]="'Select your Province'"
                  required
                  [(ngModel)]="model.address.province"
                  name="parent_address_province"
                  >
                  <option *ngFor="let province of provinces">{{province.name}}</option>
               </select>
            </mz-select-container>

            <!-- postal code -->
            <mz-input-container class="col s12 m4">
               <input mz-input
                  type="text" 
                  id="parent-address-postalcode"
                  [label]="'Postal Code'"
                  [validate]="true"
                  [dataError]="'Invalid postal code'"
                  required
                  [(ngModel)]="model.address.postal_code"
                  name="parent_address_postal_code"
                  /> <!-- TODO: write postal code validator + pipe -->
            </mz-input-container>
         </div>

         <div class="row">
            <!-- email -->
            <mz-input-container class="col s12 m6">
               <i mz-icon mz-input-prefix
                  [icon]="'email'">
               </i>
               <input mz-input
                  type="email" 
                  id="parent-email"
                  [label]="'Email'"
                  [validate]="true"
                  [dataError]="'Invalid email'"
                  required
                  [(ngModel)]="model.parent_email"
                  name="parent_email"
                  />
            </mz-input-container>

            <!-- phone -->
            <mz-input-container class="col s12 m6">
               <i mz-icon mz-input-prefix
                  [icon]="'phone'">
               </i>
               <input mz-input
                  type="tel" 
                  id="parent-phone"
                  [label]="'Phone Number'"
                  [validate]="true"
                  [dataError]="'Invalid phone number'"
                  required
                  [(ngModel)]="model.parent_phone"
                  name="parent_phone"
                  /> <!-- TODO: write validator + pipe -->
            </mz-input-container>
         </div>
      </div>

      <!-- == Emergency Contact == -->
      <div class="card-panel">
         <h4 class="center-align">Emergency Contact</h4>
         
         <div class="row">
            <!-- first name -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text" 
                  id="emergency-firstname"
                  [label]="'First Name'"
                  required
                  [(ngModel)]="model.emergency_first_name"
                  name="emergency_first_name"
                  />
            </mz-input-container>
            <!-- last name -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text" 
                  id="emergency-lastname"
                  [label]="'Last Name'"
                  required
                  [(ngModel)]="model.emergency_last_name"
                  name="emergency_last_name"
                  />
            </mz-input-container>         
         </div>

         <div class="row">
            <!-- relationship to child -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text" 
                  id="emergency-relationship"
                  [label]="'Relationship to child'"
                  required
                  [(ngModel)]="model.emergency_relationship"
                  name="emergency_relationship"
                  />
            </mz-input-container>
            <!-- phone -->
            <mz-input-container class="col s12 m6">
               <i mz-icon mz-input-prefix
                  [icon]="'phone'">
               </i>
               <input mz-input
                  type="tel" 
                  id="emergency-phone"
                  [label]="'Phone Number'"
                  [validate]="true"
                  [dataError]="'Invalid phone number'"
                  required
                  [(ngModel)]="model.emergency_phone"
                  name="emergency_phone"
                  /> <!-- TODO: write validator + pipe -->
            </mz-input-container>
         </div>
      </div>

      <!-- == Child == -->
      <!-- TODO: Multiple children -->
      <div id="children-container">
         <div class="card-panel" *ngFor="let i of model.children.keys()">
            <h4>TODO: {{model.children[i].first_name}}</h4>
            <child-form [i]="i+1" [model]="model.children[i]"></child-form>
         </div>
      </div>

      <span>
         <button mz-button
            (click)="addChild()">
            <i mz-icon [align]="'right'" [icon]="'person_add'"></i>
            Add Child
         </button>
         <h6>Max: {{maxChildren}}, <b>Remaining:</b> {{maxChildren - model.children.length}}</h6>
      </span>
   </form>
</div>
<div id="submit-container" class="center-align">
   <button mz-button
      type="submit"
      (click)="onSubmit()"
      [disabled]="!submissionForm.form.valid"
      >Submit <i class="material-icons right">send</i></button>
</div>