<div id="form-container">
   <form [formGroup]="childForm" (ngSubmit)="onSubmit()" novalidate>
      <!-- == Parent/Guardian == -->
      <div formGroupName="parent" class="card-panel">
         <h4 class="center-align">Parent/Guardian</h4>

         <div class="row">
            <!-- first name -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text" 
                  [label]="'First Name'"
                  formControlName="first_name"
                  />
            </mz-input-container>
            <!-- last name -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text" 
                  [label]="'Last Name'"
                  formControlName="last_name"
                  />
            </mz-input-container>
         </div>

         <div formGroupName="address">
            <div class="row">
               <!-- address -->
               <mz-input-container class="col s12">
                  <input mz-input
                     type="text"
                     [label]="'Address'"
                     formControlName="street"
                     />
               </mz-input-container>
            </div>
            <div class="row">
               <!-- city -->
               <mz-input-container class="col s12 m4">
                  <input mz-input
                     type="text"
                     [label]="'City'"
                     formControlName="city"
                     />
               </mz-input-container>

               <!-- province -->
               <mz-select-container class="col s12 m4">
                  <select mz-select
                     [placeholder]="'Select your Province'"
                     formControlName="province"
                     >
                     <option *ngFor="let province of provinces" [value]="province.name">{{province.name}}</option>
                  </select>
               </mz-select-container>

               <!-- postal code -->
               <mz-input-container class="col s12 m4">
                  <input mz-input
                     type="text"
                     [label]="'Postal Code'"
                     formControlName="postal_code"
                     /> <!-- TODO: write validator -->
               </mz-input-container>
            </div>
         </div>

         <div class="row">
            <!-- email -->
            <mz-input-container class="col s12 m6">
               <i mz-icon mz-input-prefix
                  [icon]="'email'">
               </i>
               <input mz-input
                  type="email"
                  [label]="'Email'"
                  [validate]="true"
                  [dataError]="'Invalid email'"
                  formControlName="email"
                  />
            </mz-input-container>

            <!-- phone -->
            <mz-input-container class="col s12 m6">
               <i mz-icon mz-input-prefix
                  [icon]="'phone'">
               </i>
               <input mz-input
                  type="tel"
                  [label]="'Phone Number'"
                  formControlName="phone"
                  /> <!-- TODO: write validator -->
            </mz-input-container>
         </div>

         <div class="row">
            <!-- may we photo? -->
            <!-- Materialize requires `id` to be specified for checkboxes to work -->
            <mz-checkbox-container class="col s12">
               <input mz-checkbox
                  type="checkbox"
                  id="is_photo_allowed"
                  [label]="'May we photograph your children?'"
                  filledIn="true"
                  formControlName="is_photo_allowed"
                  />
            </mz-checkbox-container>

            <!-- may we use photo in publications? (hide when above is false) -->
            <!-- Materialize requires `id` to be specified for checkboxes to work -->
            <mz-checkbox-container class="col s12">
               <input mz-checkbox
                  type="checkbox"
                  id="is_photo_public_use_allowed"
                  [label]="'May we use these photographs in the publications of MCBC for the purpose of promotion?'"
                  filledIn="true"
                  formControlName="is_photo_public_use_allowed"
                  />
            </mz-checkbox-container>
         </div>
      </div>

      <!-- == Emergency Contact == -->
      <div formGroupName="emergency" class="card-panel">
         <h4 class="center-align">Emergency Contact</h4>
         
         <div class="row">
            <!-- first name -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text"
                  [label]="'First Name'"
                  formControlName="first_name"
                  />
            </mz-input-container>
            <!-- last name -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text"
                  [label]="'Last Name'"
                  formControlName="last_name"
                  />
            </mz-input-container>         
         </div>

         <div class="row">
            <!-- relationship to child -->
            <mz-input-container class="col s12 m6">
               <input mz-input
                  type="text"
                  [label]="'Relationship to child'"
                  formControlName="relationship"
                  />
            </mz-input-container>
            <!-- phone -->
            <mz-input-container class="col s12 m6">
               <i mz-icon mz-input-prefix
                  [icon]="'phone'">
               </i>
               <input mz-input
                  type="tel"
                  [label]="'Phone Number'"
                  formControlName="phone"
                  /> <!-- TODO: write validator -->
            </mz-input-container>
         </div>
      </div>

      <!-- == Child == -->
      <!-- TODO: Multiple children -->
      <!-- <div id="children-container">
         <div class="card-panel" *ngFor="let i of model.children.keys()">
            <child-form [i]="i+1" [model]="model.children[i]"></child-form>
         </div>
      </div>

      <span>
         <button mz-button
            (click)="addChild()">
            <i mz-icon [align]="'right'" [icon]="'person_add'"></i>
            Add Child
         </button>
         <h6>Max: {{maxChildren}}, <b>Remaining:</b> {{maxChildren - model.children.length}}</h6>
      </span> -->
   </form>
</div>
<div id="submit-container" class="center-align">
   <button mz-button
      type="submit"
      (click)="onSubmit()"
      >Submit <i class="material-icons right">send</i></button>
</div>