<mz-navbar>
   <a routerLink="/" class="brand-logo center">MCBC VBS 2017</a>   
   <mz-navbar-item-container [align]="'right'">
      <mz-navbar-item><a routerLink="/faq">FAQ</a></mz-navbar-item>
      <mz-navbar-item><a routerLink="/register">Register</a></mz-navbar-item>
      <mz-navbar-item><a routerLink="/volunteer">Volunteer</a></mz-navbar-item>
   </mz-navbar-item-container>

   <!-- Duplication here is ugly but whatever, roll with it for now -->
   <mz-sidenav [id]="'sidenav-demo'" [collapseButtonId]="'btn-sidenav-demo'">
      <mz-sidenav-link>
         <a routerLink="/faq">FAQ</a>
      </mz-sidenav-link>
      <mz-sidenav-link>
         <a routerLink="/register">Register</a>
      </mz-sidenav-link>
      <mz-sidenav-link>
         <a routerLink="/volunteer">Volunteer</a>
      </mz-sidenav-link>
   </mz-sidenav>
<a href="#" class="button-collapse" [id]="'btn-sidenav-demo'"><i class="material-icons">menu</i></a>
</mz-navbar>